layout{
    preset-column-widths {
        proportion 0.2
        proportion 0.5
        proportion 0.8
    }
    background-color "transparent"
    default-column-width { proportion 0.5; }
}    

// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

overview {
  workspace-shadow {
    off
  }
}

cursor {
    xcursor-theme "Posy_Cursor_125_175"
    xcursor-size 24
    hide-after-inactive-ms 1500
}

spawn-at-startup "dms" "run"

spawn-at-startup "bash" "-c" "wl-paste --watch cliphist store &"

spawn-at-startup "elecwhat"
spawn-at-startup "zen-browser"

environment {
   GTK_USE_PORTAL "1"
   XDG_CURRENT_DESKTOP "niri"
   QT_QPA_PLATFORM "wayland"
   QT_QPA_PLATFORMTHEME "qt6ct"
   QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
   QT_NO_SYNTHESIZED_BOLD "1"
   ELECTRON_OZONE_PLATFORM_HINT "auto"
   XDG_MENU_PREFIX "plasma-"
   EDITOR "nano"
   TERM "kitty"
   TERMINAL "kitty"
}

hotkey-overlay {
    skip-at-startup
}

animations {
    workspace-switch {
        spring damping-ratio=0.90 stiffness=560 epsilon=0.00001
    }
    window-open {
        duration-ms 300
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    horizontal-view-movement {
      duration-ms 300
      curve "cubic-bezier" 0.47 0 0 1.07
      // spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    window-movement {
       duration-ms 350
       curve "ease-out-expo"
        // spring damping-ratio=0.75 stiffness=323 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=0.85 stiffness=423 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.65 stiffness=923 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
    overview-open-close {
        spring damping-ratio=0.85 stiffness=800 epsilon=0.0001
    }
}

workspace "socials" {
    layout {
        center-focused-column "never"
        always-center-single-column
        default-column-width { proportion 0.55; }
    }
}
workspace "work" {
    layout {
        center-focused-column "never"
        always-center-single-column
        preset-column-widths {
            proportion 0.25
            proportion 0.5
            proportion 0.75
        }
        preset-window-heights {
            proportion 0.2
            proportion 0.5
            proportion 0.8
            proportion 1.0
        }
        default-column-width { proportion 0.5; }
    }
}   
workspace "main"{
    layout {
        // center-focused-column "on-overflow"
        always-center-single-column
    }
}

window-rule{
    match app-id="blender"
    default-column-width {fixed 1400;}
    default-window-height {fixed 1050;}
    tiled-state true
    open-fullscreen false
    open-maximized-to-edges false
    open-maximized true
}

window-rule{
    match app-id="zen"
    default-column-width { proportion 0.9; }
    tiled-state true
    open-on-workspace "main"
}

window-rule {
    match app-id="Spotify"
    match app-id="com.github.th-ch.youtube-music"
    match app-id="kopuz"
    default-column-width { proportion 0.7; }
    open-on-workspace "main"
}


window-rule {
    match app-id="Minecraft"
    open-maximized true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="elecwhat"
    match app-id="in.codelif.Whatevr"
    match app-id="vesktop"
    open-on-workspace "socials"
    block-out-from "screencast"
}
window-rule {
    match app-id="droidcam"
    open-on-workspace "main"
    open-floating false
    open-focused true
    block-out-from "screencast"
}