layout {
    gaps 8
    struts{
        top 1
        bottom 1
        left 2
        right 2
    }
    focus-ring{
        width 2
    }
    border{
        width 2
    }
    preset-column-widths {
        proportion 0.2
        proportion 0.5
        proportion 0.8
    }
    background-color "transparent"
    default-column-width { proportion 0.5; }
}

window-rule {
  background-effect {
    blur true
    xray false
  }
  geometry-corner-radius 20
  clip-to-geometry true
}




// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}


// =======WORKSPACES========

workspace "socials" {
    layout {
        center-focused-column "never"
        always-center-single-column
        default-column-width { proportion 0.55; }
    }
}
workspace "work" {
    layout {
        center-focused-column "never"
        always-center-single-column
        preset-column-widths {
            proportion 0.25
            proportion 0.5
            proportion 0.75
        }
        preset-window-heights {
            proportion 0.2
            proportion 0.5
            proportion 0.8
            proportion 1.0
        }
        default-column-width { proportion 0.5; }
    }
}   
workspace "main"{
    layout {
        // center-focused-column "on-overflow"
        always-center-single-column
    }
}



// =======WINDOW LAYOUTS========
window-rule {
    match app-id="python3"
    open-floating false
}

window-rule{
    match app-id="zen"
    default-column-width { proportion 0.9; }
    tiled-state true
    open-on-workspace "main"
}

window-rule {
    match app-id="Spotify"
    match app-id="com.github.th-ch.youtube-music"
    default-column-width { proportion 0.7; }
    open-on-workspace "main"
}


window-rule {
    match app-id="Minecraft"
    open-maximized true
}

window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="elecwhat"
    match app-id="in.codelif.Whatevr"
    match app-id="vesktop"
    open-on-workspace "socials"
    block-out-from "screencast"
}
window-rule {
    match app-id="droidcam"
    open-on-workspace "main"
    open-floating false
    open-focused true
    block-out-from "screencast"
}