layout {
    gaps 8
    struts{
        top -1
        bottom -1
        left -2
        right -2
    }
    focus-ring{
        width 2
    }
    border{
        width 2
    }
}
window-rule{
    background-effect {
        blur true
        xray true
    }
    clip-to-geometry true
    geometry-corner-radius 15
}


layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel|attached-panel|osd)$"
  background-effect {
    xray false
    // blur false
  }
}

// Open DMS windows as floating by default
window-rule {
    match app-id=r#"com.danklinux.dms$"#
    open-floating true
    background-effect{
        xray false
    }
}

window-rule {
    match app-id="python3"
    open-floating false
}