layout {
    gaps 8
    struts{
        top -1
        bottom -1
        left 0
        right 0
    }
    border {
        width 1
    }
    focus-ring {
        width 2
    }
    preset-column-widths {
        proportion 0.2
        proportion 0.5
        proportion 0.8
    }
    background-color "transparent"
    default-column-width { proportion 0.5; }
    // focus ring & border width is set by dms
}
window-rule{
    background-effect {
        blur true
        xray true
    }
    clip-to-geometry true
}

window-rule{
    match is-floating=true
    background-effect {
        blur true
        xray false
    }
    clip-to-geometry true
}

window-rule {
    match is-active=false
    opacity 0.97
}

layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

layer-rule {
  match namespace="^dms:(frame|slideout|power-menu|notification-popup|spotlight)$"
  background-effect {
    xray false
    // blur false
  }
}
layer-rule {
  match namespace="^dms:(osd|toast|dash|tray-menu-window|control-center|tooltip)$"
  
  background-effect {
    blur false
  }
}

// Open DMS windows as floating by default
window-rule {
    match app-id=r#"com.danklinux.dms$"#
    match app-id=r#"com.danklinux.dankcalendar$"#
    open-floating true
    background-effect{
        xray false
    }
}

