@import "../omarchy/current/theme/waybar.css";

* {
  background: transparent;
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrains Mono';
}

window#waybar {
  background: transparent;
  font-size: 14px;
  padding: 4px 0px;
  color: @foreground;
}

.modules-left {
  background-color: @background;
  color: @teal;
  margin: 0px 4px;
  font-size: 12px;
  padding: 0px 12px 3px 15px;
  border-radius:0px 0px 15px 15px;
  margin-left: 8px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.modules-center{
  background-color: @background;
  padding: 0px 15px 3px 15px;
  border-radius:0px 0px 15px 15px;
}

.modules-right {
  background-color: @background;
  margin-right: 8px;
  padding: 0px 15px 3px 15px;
  border-radius:0px 0px 15px 15px;
}


#workspaces button {
  color: @teal;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  color: @dim_blue;
}

#workspaces button.active{
  color: @yellow;
  border-top: 2px solid;
}



#custom-omarchy{
  color: @pink;
  margin-right:15px;
}

#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 14px;
  margin: 0 7.5px;
}
#pulseaudio{
  color: @yellow;
}

#cpu {
  color: @pink;
  font-size: 18px;
  margin-right: 15px;
}
#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 20px;
}

tooltip {
  padding: 2px;
  background-color: @background;
  border-radius: 10px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  /* margin-left: 8.75px; */
  padding: 0px 10px
} 

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: @pink;
}
