@define-color foreground #A6ACCD;
@define-color background #1B212E;
@define-color dim_blue #506477;
@define-color paleBlue #ADD7FF;
@define-color yellow #F8F3BE;
@define-color pink #F087BD;
@define-color teal #5DE4C7;
